body {
    background-image: url("background.jpg");
    color: lightgrey;
    background-attachment: fixed;
}

.container{
    background-color: #292727;
    opacity: 0.97;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row{
    padding-top: 5px;
    padding-bottom: 5px;
}

.error{
    background: none;
    border:none;
    text-align: center;
    color: red;
}

#circle{
    background-color: #292727;
    opacity: 0.989;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.numbers{
    background-color: lightgrey;
    border: none;
    margin-bottom: 5px;
}